<section class="wrapper">
  <aside>
    <div class="clock">
      <div class="hand hour-hand" [ngStyle]="{ transform: hour()?.degree }">
        {{ hour()?.value }}
      </div>
      <div
        class="hand minute-hand"
        [ngStyle]="{ transform: minutes()?.degree }"
      >
        {{ minutes()?.value }}
      </div>
      <div
        class="hand second-hand"
        [ngStyle]="{ transform: seconds()?.degree }"
      >
        {{ seconds()?.value }}
      </div>
    </div>
  </aside>
  <aside>
    <h3>Logs</h3>
    <p>Current time: {{ currentTime() }}</p>
    <ul>
      @for (log of logs(); track log) {
      <li [ngStyle]="{ color: $last ? 'red' : 'black' }">
        {{ log[0]?.value }}: {{ log[1]?.value }}: {{ log[2]?.value }}
      </li>
      } @empty {
      <li>Nothing</li>
      }
    </ul>
  </aside>
</section>
